.panel-toolbar {
  margin-top: 15px;
  height: 30px;
}

.add-item {
  background-color: #3ce;
  background: -webkit-gradient(linear, left top, left bottom, from(#3ce), to(#208ea7));
  background: -webkit-linear-gradient(top, #3ce, #208ea7);
  background: -moz-linear-gradient(top, #3ce, #208ea7);
  background: -ms-linear-gradient(top, #3ce, #208ea7);
  background: -o-linear-gradient(top, #3ce, #208ea7);
  background: linear-gradient(top, #3ce, #208ea7);
  border: 1px solid #0fd4f7;
  border-bottom: 1px solid #0fd4f7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #0fd4f7;
  -webkit-box-shadow: 0 1px 0 0 #0fd4f7 inset;
  -moz-box-shadow: 0 1px 0 0 #0fd4f7 inset;
  -ms-box-shadow: 0 1px 0 0 #0fd4f7 inset;
  -o-box-shadow: 0 1px 0 0 #0fd4f7 inset;
  color: white!important;
  font-weight: bold;
  padding: 6px 20px;
  margin: 10px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #07bede;
  width: 120px;  
  &:hover {
      opacity: .85;
      cursor: pointer;
  }
}

.item-container {
  flex-wrap: wrap;
}

* {box-sizing: border-box;}
.product-item {
  width: 175px;
  text-align: center;
  border-bottom: 2px solid #F5F5F5;
  background: white;
  font-family: "Open Sans";
  transition: .3s ease-in;
  border: 1px solid lightblue;
  margin: 10px;
  position: relative;
}

.product-item:hover {
  cursor: pointer;
  outline: 2px solid cadetblue;
}

.product-item .image {
  display: block;
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-list {
  background: lavender;
  padding: 15px 0;
}

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}

.price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}

.edit {
  position: absolute;
  top: -2px;
  right: 21px;
  width: 36px;
  height: 35px;
  border-radius: 50%;
  background-image: url(src/assets/svg/Edit.svg);
}

.delete {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 30px;
  height: 24px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: red;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}