@transparent: transparent;
@white: #fff;
@black: #000;
@light-blue: #3ce;
@blue: #07bede;
@green: #8cc63e;
@dark-green: #006644;
@gray: #6c757d;
@darken-gray: #303030;
@border-gray: #c4d0d9;
@orange: #ff5630;
@red: #ff0000;

.ligth {
    .theme(@black, @white);
    &_btn {
        .btn(@white, @light-blue, @transparent);
        &:hover {
            .btn(@white, @green, @transparent);       
        }
        &.active {
            .btn(@white, @green, @border-gray);
        }
    }
    &_header {
        .header(@light-blue);
        .border(@border-gray);
        &-title {
            .header-title(@black, @white);        
        }
        &-burger {
            .burger-menu(@white); 
            &-bg {
                .burger-menu-bg(@light-blue); 
                &:hover {
                    background-color: @green;
                    .ligth_header-burger {
                        .burger-menu(@white);                 
                    }
                }
                &.open {
                    background-color: @green;
                    .ligth_header-burger {
                        .burger-menu(@white);                 
                    }
                }
            }       
        }
        &-icon {
            .header-icon(@light-blue);  
            .profileIcon(@white);
            &:hover {
                .header-icon(@green);
                .profileIcon(@white);
            }
        }
    }
    &_sidebar {
        .sidebar(@white, @transparent);
        &-element {
            .sidebar-element(@black, @white);
            .arrow-expand, 
            .arrow-collapsed {
                border-color: @black;     
            }
            &.active {  
                .sidebar-element(@white, @light-blue); 
                .border-left-10(@blue);
                li {
                    .sidebar-element(@white, @light-blue);  
                }    
            }
            &:hover {
                .sidebar-element(@white, @light-blue);
                li {
                    .sidebar-element(@white, @light-blue);  
                }    
                .arrow-expand, 
                .arrow-collapsed {
                    border-color: @white;     
                }
            }
        }
    }

    &_container {
        .container(@black, @transparent);
        &-toolbar {
            .panel-toolbar(@black, @transparent);
            .border-bottom(@border-gray);
            label {
                .searchIcon(@light-blue);
            }
        }
        &-item {
            &-bg {
                .store-item-bg(@light-blue);
            }
            &-text {
                .store-item-text(@white);
            }
            &-border {
                .border(@light-blue);
                .border-bottom(@white);
            }        
        }
    }

    &_form {
        .form(@black, @white, @border-gray);
        &-edit-name {
            .form-text(@light-blue);
        }
        &-btn {
            .btn(@white, @light-blue, @transparent);
            &:hover {
                .btn(@white, @green, @transparent);        
            }
        }
        &-label {
            .form-text(@black);
        }
        &-input {
            .input(@black);
            &-error {
                .form-text(@red);
            }
        }
    }
    &_modal {
        &-header {
            .modal-header(@white, @light-blue);
        }
        &-content {
            .modal-content(@black, @white);
        }
    }
}

/*angular_material*/
.ligth {
    .mat-form-field-label {
        color: black!important;
    }
    .mat-form-field-invalid .mat-form-field-ripple, 
    .mat-form-field-invalid .mat-form-field-ripple .mat-accent {
        background-color: @red!important;
    } 
    .mat-form-field-wrapper .mat-form-field-ripple, 
    .mat-form-field-wrapper .mat-form-field-ripple .mat-accent {
        background-color: @blue;
    } 
}
