
<div cdkDrag class="popup-modal">
    <div 
        cdkDragHandle 
        [className]="this.themeService.themeCurrentClass+'_modal-header modal_header'"
    >
        {{modalTitle}}
    </div>
    <a 
        (click)="closeProfileModal()" 
        title="Закрыть" 
        class="close"
    >
    </a>
    <div 
        [className]="this.themeService.themeCurrentClass+'_modal-content modal_content'"
    >
        <div class="modal_content-text">
            <p>Для отображения имени пользователя. Введите имя и фамилию.</p>
        </div>
        <lib-default-input
            (baseInputValue)="onNameChanged($event)"
            class="modal_content-input"
            customPlaceholder="Введите имя" 
            [customValue]="user_name"
        >
        </lib-default-input>
        <lib-default-input
            (baseInputValue)="onSurnameChanged($event)"
            class="modal_content-input" 
            customPlaceholder="Введите фамилию" 
            [customValue]="user_surname"
        >
        </lib-default-input>
        <div class="modal_btn">
            <zdsBtn 
                class="modal_btn-success"
                text="Принять"
                typeValue="submit"
                (click)="onChangedProfile()"
                className="{{this.themeService.themeCurrentClass+'btn'}}"
            >
            </zdsBtn>
            <zdsBtn 
                class="modal_btn-cancel"
                text="Отмена"
                typeValue="submit"
                (click)="returnPreviousValue()"
                className="{{this.themeService.themeCurrentClass+'btn'}}"
            >
            </zdsBtn>
        </div>
    </div>
</div>