
<div cdkDrag class="popup-modal">
    <div 
        cdkDragHandle 
        class="modal_header"
    >
        {{modalTitle}}
    </div>
    <a 
        (click)="closeProfileModal()" 
        title="Закрыть" 
        class="close"
    >
    </a>
    <div class="modal_content">
        <div class="modal_content-text">
            <p>Для отображения имени пользователя. Введите имя и фамилию.</p>
        </div>
        <lib-mat-input
            (baseInputValue)="onNameChanged($event)"
            class="modal_content-input"
            customPlaceholder="Введите имя" 
            [customValue]="user_name"
        >
        </lib-mat-input>
        <lib-mat-input
            (baseInputValue)="onSurnameChanged($event)"
            class="modal_content-input" 
            customPlaceholder="Введите фамилию" 
            [customValue]="user_surname"
        >
        </lib-mat-input>
        <div class="modal_btn">
            <zdsBtn 
                class="modal_btn-success"
                text="Принять"
                typeValue="submit"
                (click)="onChangedProfile()"
            >
            </zdsBtn>
            <zdsBtn 
                class="modal_btn-cancel"
                text="Отмена"
                typeValue="submit"
                (click)="returnPreviousValue()"
            >
            </zdsBtn>
        </div>
    </div>
</div>