<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-toolbar">
  <a 
    (click)="changeTheme('dark')"
    class="toggle-btn"
    [ngClass]="theme('btn')">
        dark
  </a>
  <a 
    (click)="changeTheme('green')"
    class="toggle-btn"
    [ngClass]="theme('btn')">
        green
  </a>
  <a 
    (click)="changeTheme('ligth')" 
    class="toggle-btn"
    [ngClass]="theme('btn')">
        ligth
  </a>
</div>
<div style="margin: 20px">
  <p>User input field</p>
  <lib-default-input 
    [customPlaceholder]="'custom field'"
    >
  </lib-default-input>
  <p>{{textField}}</p>
</div>
