<div class="wrapper" [ngClass]="toggleTheme() ? 'ligth' : 'dark'">
    <button 
        color="primary" 
        (click)="toggleTheme()" 
        [ngClass]="toggleTheme() ? 'ligth_btn' : 'dark_btn'">
            Toggle theme
        </button>
    <header 
        fxLayout="row" 
        [ngClass]="toggleTheme() ? 'ligth_header' : 'dark_header'">
        <div 
            zdsPagination
            class="nav-btn" 
            [class.open]="this.isSidebarOpen"
            (click)="sidebarOpen()"
            [ngClass]="toggleTheme() ? 'ligth_header-burger-bg' : 'dark_header-burger-bg'"
            >
            <span [ngClass]="toggleTheme() ? 'ligth_header-burger' : 'dark_header-burger'"></span>
            <span [ngClass]="toggleTheme() ? 'ligth_header-burger' : 'dark_header-burger'"></span>
            <span [ngClass]="toggleTheme() ? 'ligth_header-burger' : 'dark_header-burger'"></span>
        </div>
        <div 
            class="header_title" 
            [ngClass]="toggleTheme() ? 'ligth_header-title' : 'dark_header-title'">Интернет магазин</div>
        <div class="header_right-content">
            <span 
                [ngClass]="onAddDataUser()">
                    {{this.profileService.user_name}} {{this.profileService.user_surname}}
            </span>
            <div 
                class="modal-info" 
                (click)="openProfileModal()" 
                [ngClass]="toggleTheme() ? 'ligth_header-icon' : 'dark_header-icon'">
            </div>
        </div>
    </header>
    <section zds-resizeWindow fxLayout="row">
        <mat-spinner
            *ngIf="!this.isLoaded"
            class="spinner"
            diameter=50
        >
        </mat-spinner>
        <zds-sidebar
            [@changeSizeSidebar]="currentState"  
            class="sidebar"      
            [class.open]="this.isSidebarOpen"
            (selectedCategory)="changeCategoryItems($event)"
            [ngClass]="toggleTheme() ? 'ligth_sidebar' : 'dark_sidebar'"
        >
        </zds-sidebar>
        <zds-item-container 
            fxFlex="100"
            [items]="items" 
            (isAdd)="isAddedProducts($event)" 
            (editItem)="editProduct($event)"
            (onPhotoUrl)="newPhotoUrl($event)"
            class="store-content"
            [ngClass]="toggleTheme() ? 'ligth_container' : 'dark_container'"
        >
        </zds-item-container>
        <zds-edit-item 
            [item]="editItem" 
            [isAddedProduct]="isAddedProduct" 
            (onItemAdd)="newItemAdded($event)"
            (onItemEdit)="itemWasEdited($event)"
        >
        </zds-edit-item>
    </section>
    <zds-modal 
        [modalTitle]="'Профиль пользователя'"
        *ngIf="this.sharedService.openProfile"
    >
    </zds-modal>
    <div 
        *ngIf="this.sharedService.openProfile"
        class="overlay"
        (click)="closePopup()"
        (body:keydown.esc)="closePopup()"
    ></div>
</div>