<div class="wrapper" 
    [className]="this.themeService.themeCurrentClass + ' ' + 'wrapper'">
    <header 
        fxLayout="row" 
        [className]="this.themeService.themeCurrentClass+'_header'">
        <div 
            zdsPagination
            (click)="sidebarOpen()"
            [class.open]="this.isSidebarOpen"
            [className]="this.themeService.themeCurrentClass+'_header-burger-bg nav-btn'"
            >
            <span [className]="this.themeService.themeCurrentClass+'_header-burger'"></span>
            <span [className]="this.themeService.themeCurrentClass+'_header-burger'"></span>
            <span [className]="this.themeService.themeCurrentClass+'_header-burger'"></span>
        </div>
        <div 
            [className]="this.themeService.themeCurrentClass+'_header-title header_title'" 
            >
            Интернет магазин
        </div>
        <div class="header_right-content">
            <a 
                (click)="changeThemeColor('dark')"
                [ngClass]="this.themeService.themeCurrentClass+'_btn toggle-color'"
                [class.active]="this.themeService.themeCurrentClass == 'dark'">
                    dark
            </a>
            <a 
                (click)="changeThemeColor('green')"
                [ngClass]="this.themeService.themeCurrentClass+'_btn toggle-color'"
                [class.active]="this.themeService.themeCurrentClass == 'green'">
                    green
            </a>
            <a 
                (click)="changeThemeColor('ligth')" 
                [ngClass]="this.themeService.themeCurrentClass+'_btn toggle-color'"
                [class.active]="this.themeService.themeCurrentClass == 'ligth'">
                    ligth
            </a>
            <span 
                [ngClass]="onAddDataUser()">
                    {{this.profileService.user_name}} {{this.profileService.user_surname}}
            </span>
            <div 
                (click)="openProfileModal()" 
                [className]="this.themeService.themeCurrentClass+'_header-icon modal-info'">
            </div>
        </div>
    </header>
    <section zds-resizeWindow fxLayout="row">
        <mat-spinner
            *ngIf="!this.isLoaded"
            class="spinner"
            diameter=50
        >
        </mat-spinner>
        <as-split direction="horizontal" gutterSize = "4">
            <as-split-area [visible]="spVlisble" [ngClass]="this.themeService.themeCurrentClass+'_sidebar'" [size]="25" order="1">
                <zds-sidebar
                    [class.open]="this.isSidebarOpen"
                    (selectedCategory)="changeCategoryItems($event)"     
                    class="sidebar"          
                >
                </zds-sidebar>
            </as-split-area>
            <as-split-area  [size]="75" order="2">
                <zds-item-container 
                    fxFlex="100"
                    [items]="items" 
                    (isAdd)="isAddedProducts($event)" 
                    (editItem)="editProduct($event)"
                    (onPhotoUrl)="newPhotoUrl($event)"
                    [className]="this.themeService.themeCurrentClass+'_container store-content'"
                >
                </zds-item-container>
            </as-split-area>
        </as-split>
        <zds-edit-item 
            [item]="editItem" 
            [isAddedProduct]="isAddedProduct" 
            (onItemAdd)="newItemAdded($event)"
            (onItemEdit)="itemWasEdited($event)"
        >
        </zds-edit-item>
    </section>
    <zds-modal 
        [modalTitle]="'Профиль пользователя'"
        *ngIf="this.sharedService.openProfile"
    >
    </zds-modal>
    <div 
        *ngIf="this.sharedService.openProfile"
        class="overlay"
        (click)="closePopup()"
        (body:keydown.esc)="closePopup()"
    ></div>
</div>