<form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()" 
    [ngClass]="this.themeService.changeTheme ? 'ligth_form' : 'dark_form'">
    <p 
        class="text-title" 
        *ngIf="isAddedProduct">
            Добавление нового товара
    </p>
    <p 
        class="text-title" 
        *ngIf="!isAddedProduct">
            Редактирование товара:<br>
        <span 
            [ngClass]="this.themeService.changeTheme ? 'ligth_form-edit-name' : 'dark_form-edit-name'">
                {{item.name}}
        </span>
    </p>
    <div class="form-group" fxLayout="column">
        <label 
            class="uploadButton" for="photo"
            [ngClass]="this.themeService.changeTheme ? 'ligth_form-btn' : 'dark_form-btn'">
                Загрузить изображение
        </label>
        <div fxLayout="row">
        <label 
            fxLayoutAlign="center center"
            [ngClass]="this.themeService.changeTheme ? 'ligth_form-label' : 'dark_form-label'">
                Фото
        </label>
            <div>
                <input            
                    (change)="onFileSelected($event)"
                    type="file"
                    id="photo"
                    formControlName="photo"
                    style="display: none"
                >
                <img [src]="isNotImage()" class="item-image">
            </div>
        </div>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center">
        <label 
        for="name"
        [ngClass]="this.themeService.changeTheme ? 'ligth_form-label' : 'dark_form-label'">
            Наименование
    </label>
        <div fxLayout="column">
            <mat-form-field
                [ngClass]="this.themeService.changeTheme ? 'ligth_form-input' : 'dark_form-input'">
                <input 
                    matInput 
                    type="text"
                    id="name"
                    placeholder="Введите название"
                    formControlName="name" 
                    [ngModel]="item.name"
                >
            </mat-form-field>
            <span 
                class="error-message"
                *ngIf="isControlInvalid('name')"
                [ngClass]="this.themeService.changeTheme ? 'ligth_form-input-error' : 'dark_form-input-error'"
            >
                <span class="error-message-text" *ngIf="form.get('name')['errors']['required']">* Поле наименования должно быть заполнено</span>
                <span class="error-message-text" *ngIf="form.get('name')['errors']['pattern']">* Поле наименования не может начинаться с цифры</span>
            </span>
        </div>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center">
        <label 
            for="price"
            [ngClass]="this.themeService.changeTheme ? 'ligth_form-label' : 'dark_form-label'">
                Цена
        </label>
        <div fxLayout="column">
            <mat-form-field
                [ngClass]="this.themeService.changeTheme ? 'ligth_form-input' : 'dark_form-input'">
                <input 
                    matInput 
                    type="number"
                    placeholder="Введите наименование"
                    formControlName="price"
                    min=1
                    [ngModel]="item.price"
                >
            </mat-form-field>
            <span             
                *ngIf="isControlInvalid('price')"
                class="error-message"
                [ngClass]="this.themeService.changeTheme ? 'ligth_form-input-error' : 'dark_form-input-error'"
            >
                <span 
                    class="error-message-text" 
                    *ngIf="form.get('price')['errors']['required']">
                        * Поле цена должно быть заполнено
                </span>
                <span 
                    class="error-message-text" 
                    *ngIf="form.get('price')['errors']['min']">
                        * Поле цена не может быть отрицательным
                </span>
            </span>
        </div>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center">
        <label 
            for="count"
            [ngClass]="this.themeService.changeTheme ? 'ligth_form-label' : 'dark_form-label'">
                Количество
        </label>
        <div fxLayout="column">
            <mat-form-field 
                [ngClass]="this.themeService.changeTheme ? 'ligth_form-input' : 'dark_form-input'">
                <input 
                    matInput 
                    type="number"
                    id="count"
                    placeholder="Введите количество"
                    formControlName="count"
                    [ngModel]="item.count"
                    
                >
            </mat-form-field>
            <span             
                *ngIf="isControlInvalid('count')"
                class="error-message"
                [ngClass]="this.themeService.changeTheme ? 'ligth_form-input-error' : 'dark_form-input-error'"
            >
                <span 
                    class="error-message-text" 
                    *ngIf="form.get('count')['errors']['required']">
                        * Поле количество должно быть заполнено
                </span>
                <span 
                    class="error-message-text" 
                    *ngIf="form.get('count')['errors']['min']">
                        * Поле количество не может быть отрицательным
                </span>
            </span>
        </div>
    </div>
    <div class="form-group" fxLayout="row" fxLayoutAlign="center">
        <zdsBtn 
            text="Ok"
            typeValue="submit"
            className="{{this.themeService.changeTheme ? 'ligth_form-btn' : 'dark_form-btn'}}"
            disable="{{form.invalid}}"
            *ngIf="isAddedProduct"
        >
        </zdsBtn>
        <zdsBtn 
            text="Принять"
            typeValue="submit" 
            className="{{this.themeService.changeTheme ? 'ligth_form-btn' : 'dark_form-btn'}}"
            disable="{{form.invalid && form.touched}}"
            *ngIf="!isAddedProduct"
        >
        </zdsBtn>
        <zdsBtn 
            text="Отмена"
            typeValue="button"
            className="{{this.themeService.changeTheme ? 'ligth_form-btn' : 'dark_form-btn'}}"
            (click)="clearForm()"
        >
        </zdsBtn>
    </div>
</form>