<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="text-title">Добавление нового товара</p>
    <div class="form-group" fxLayout="row" >
        <label for="email">Email</label>
        <input
            type="text"
            id="email"
            placeholder="Введите email"
            formControlName="email"
        >
    </div>
    <div class="form-group" fxLayout="row">
        <label for="password">Пароль</label>
        <input
            type="password"
            id="password"
            placeholder="Введите пароль"
            formControlName="password"
        >
    </div>
    <div class="form-group" fxLayout="row">
        <label for="name">Имя</label>
        <input
            type="text"
            id="name"
            placeholder="Введите имя"
            formControlName="name"
        >
    </div>
    <div class="form-group" fxLayout="row">
        <button 
            type="submit" 
            [disabled]="form.invalid"
        >Ок
        </button>
        <button
        type="submit" 
        >Отмена
        </button>
    </div>
</form>