<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="text-title" *ngIf="isAddedProduct">Добавление нового товара</p>
    <p class="text-title" *ngIf="!isAddedProduct">Редактирование товара:<br><span class="item-name">{{item.name}}</span></p>
    <div class="form-group" fxLayout="column">
        <label class="uploadButton" for="photo">Загрузить изображение</label>
        <div fxLayout="row">
        <label>Фото</label>
            <div >
                <input            
                    (change)="onFileSelected($event)"
                    type="file"
                    id="photo"
                    formControlName="photo"
                    style="display: none"
                >
                <img [src]="isNotImage()" class="item-image">
            </div>
        </div>
    </div>
    <div class="form-group" fxLayout="row">
        <label for="name">Наименование</label>
        <div fxLayout="column">
            <input
                [class.danger]="isControlInvalid('name')"              
                type="text"
                id="name"
                placeholder="Введите название"
                formControlName="name"
                [ngModel]="item.name"
                ngModel
            >
            <span 
                class="error-message"
                *ngIf="isControlInvalid('name')"
            >
                <span class="error-message-text" *ngIf="form.get('name')['errors']['required']">* Поле наименования должно быть заполнено</span>
            </span>
        </div>
    </div>
    <div class="form-group" fxLayout="row">
        <label for="price">Цена</label>
        <div fxLayout="column">
            <input
                [class.danger]="isControlInvalid('price')"
                type="number"
                id="price"
                placeholder="Введите цену"
                formControlName="price"
                min=1
                [ngModel]="item.price"
                ngModel
            >
            <span 
                class="error-message"
                *ngIf="isControlInvalid('price')"
            >
                <span 
                    class="error-message-text" 
                    *ngIf="form.get('price')['errors']['required']">
                        * Поле цена должно быть заполнено
                </span>
                <span 
                    class="error-message-text" 
                    *ngIf="form.get('price')['errors']['min']">
                        * Поле цена не может быть отрицательным
                </span>
            </span>
        </div>
    </div>
    <div class="form-group" fxLayout="row">
        <label for="count">Количество</label>
        <div fxLayout="column">
            <input
                [class.danger]="isControlInvalid('count')"
                type="number"
                id="count"
                placeholder="Введите количество"
                formControlName="count"
                [ngModel]="item.count"
                ngModel
            >
            <span 
                class="error-message"
                *ngIf="isControlInvalid('count')"
            >
                <span 
                    class="error-message-text" 
                    *ngIf="form.get('count')['errors']['required']">
                        * Поле количество должно быть заполнено
                </span>
                <span 
                    class="error-message-text" 
                    *ngIf="form.get('count')['errors']['min']">
                        * Поле количество не может быть отрицательным
                </span>
            </span>
        </div>
    </div>
    <div class="form-group" fxLayout="row">
        <zdsBtn 
            text="Ok"
            typeValue="submit"
            disable="{{form.invalid}}"
            *ngIf="isAddedProduct"
        >
        </zdsBtn>
        <zdsBtn 
            text="Принять"
            typeValue="submit" 
            disable="{{form.invalid && form.touched}}"
            *ngIf="!isAddedProduct"
        >
        </zdsBtn>
        <zdsBtn 
            text="Отмена"
            typeValue="button"
            (click)="clearForm()" 
        >
        </zdsBtn>
    </div>
</form>