.text-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 16px;
    margin: 5px;
    border-bottom: 1px solid #777;
}

form {
    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 430px;
    height: 100%;
    float: right;
}

.form-group {
    padding: 6px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.form-group:last-child {
    bottom: 20px;
    position: relative;
}

label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

input {
    height: 35px;
    padding: 5px 8px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.item-image {
    width:250px;
    height:200px
}

.error-message {
    color: red;
    font-size: 10px;
    margin-top: 5px;
}

.danger {
    border-color: red;
}

.uploadButton {
    display: block;
    width: 100%;
    background: #3df;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
.uploadButton:hover {
    background: #3ce;
}