<header fxLayout="row">
    <div 
        class="nav-btn" 
        [class.open]="this.isSidebarOpen"
        (click)="sidebarOpen()"
        >
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="header-title">Интернет магазин</div>
</header>
<section zds-resizeWindow fxLayout="row">
    <zds-sidebar 
        [@changeSizeSidebar]="currentState"  
        class="sidebar"      
        [class.open]="this.isSidebarOpen"
        (selectedCategory)="changeCategoryItems($event)"
    >
    </zds-sidebar>
    <zds-item-container 
        fxFlex="100"
        [items]="items" 
        (isAdd)="isAddedProducts($event)" 
        (editItem)="editProduct($event)"
        (onPhotoUrl)="newPhotoUrl($event)"
    >
    </zds-item-container>
    <zds-edit-item 
        [item]="editItem" 
        [isAddedProduct]="isAddedProduct" 
        (onItemAdd)="newItemAdded($event)"
        (onItemEdit)="itemWasEdited($event)"
    >
    </zds-edit-item>
</section>