* {
    margin: 0;
    padding: 0;
}

* {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
}

section {
    height: 100%;
}

header {
    height: 45px;
    background: cadetblue;
}

.header-title {
    font-size: 20px;
    font-weight: 700;
    padding: 6px;
    width: 600px;
    background: white;
    margin: auto;
    border: 1px solid darkgray;
    text-align: center;
    border-radius: 20px;
}

.sidebar {
    margin-right: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    height: 100%;
}