<header>
    <div class="header-title">Интернет магазин</div>
</header>
<section zds-resizeWindow fxLayout="row">
    <zds-sidebar class="sidebar" fxFlex="20"></zds-sidebar>
    <zds-item-container 
        fxFlex="50" 
        [items]="items" 
        (isAdd)="isAddedProducts($event)" 
        (editItem)="editProduct($event)"
        (onPhotoUrl)="newPhotoUrl($event)"
    >
    </zds-item-container>
    <zds-edit-item 
        fxFlex="30" 
        [item]="editItem" 
        [isAddedProduct]="isAddedProduct" 
        (onItemAdd)="newItemAdded($event)"
        (onItemEdit)="itemWasEdited($event)"
    >
    </zds-edit-item>
</section>