<div 
  [className]="this.themeService.themeCurrentClass+'_container-toolbar panel-toolbar'">
  <a 
    (click)="addProduct()"
    [className]="this.themeService.themeCurrentClass+'_btn add-item'"
    >
      Добавить товар
  </a>
  <div class="filter-container">
    <label></label>
    <input class="filter" type="text" [(ngModel)]="this.searchProduct">
  </div>
</div>
<div fxLayout="row" class="item-container" zdsPagination>
  <div 
    *ngFor="let item of items | filter:this.searchProduct | paginate: { itemsPerPage:this.addProductsService.itemsPer, currentPage:p }"
    [className]="this.themeService.themeCurrentClass+'_container-item-border product-item'"
  >
    <span 
      class="edit"
      (click)="editProduct(item)"
    >
    </span>
    <span 
      class="delete" 
      (click)="deleteItem(item)"
    >
    </span>
    <div fxLayout="column-reverse" class="image" [ngStyle]="{'backgroundImage': 'url('+ item.photo +')'}">
    <div 
      [className]="this.themeService.themeCurrentClass+'_container-item-bg product-list'">
      <h3 
        zdsTolltipName
        [className]="this.themeService.themeCurrentClass+'_container-item-text'">
        {{item.name}} 
      </h3>
        <span 
          zdsTolltipName
          [className]="this.themeService.themeCurrentClass+'_container-item-text price'">
            ₽ {{item.price}}
        </span>
        <span 
          zdsTolltipName
          [className]="this.themeService.themeCurrentClass+'_container-item-text count'">
            В наличие: {{item.count}} шт.
        </span>
    </div>
  </div>
</div>
<pagination-controls style="position: fixed; bottom: 10px; left: 40%"
  (pageChange)="p=$event" 
  previousLabel=""
  nextLabel=""
  maxSize="4"
  autoHide="true"
>
</pagination-controls>