<div 
  class="panel-toolbar"  
  [ngClass]="this.themeService.changeTheme ? 'ligth_container-toolbar' : 'dark_container-toolbar'">
  <a 
    class="add-item" 
    (click)="addProduct()"
    [ngClass]="this.themeService.changeTheme ? 'ligth_btn' : 'dark_btn'"
    >
      Добавить товар
  </a>
  <div class="filter-container">
    <label></label>
    <input class="filter" type="text" [(ngModel)]="this.searchProduct">
  </div>
</div>
<div fxLayout="row" class="item-container" zdsPagination>
  <div 
    *ngFor="let item of items | filter:this.searchProduct | paginate: { itemsPerPage:this.addProductsService.itemsPer, currentPage:p }"
    class="product-item"
    [ngClass]="this.themeService.changeTheme ? 'ligth_container-item-border' : 'dark_container-item-border'"
  >
    <span 
      class="edit"
      (click)="editProduct(item)"
    >
    </span>
    <span 
      class="delete" 
      (click)="deleteItem(item)"
    >
    </span>
    <div fxLayout="column-reverse" class="image" [ngStyle]="{'backgroundImage': 'url('+ item.photo +')'}">
    <div 
      class="product-list" 
      [ngClass]="this.themeService.changeTheme ? 'ligth_container-item-bg' : 'dark_container-item-bg'">
      <h3 
        zdsTolltipName
        [ngClass]="this.themeService.changeTheme ? 'ligth_container-item-text' : 'dark_container-item-text'">
        {{item.name}} 
      </h3>
        <span 
          class="price" 
          zdsTolltipName
          [ngClass]="this.themeService.changeTheme ? 'ligth_container-item-text' : 'dark_container-item-text'">
            ₽ {{item.price}}
        </span>
        <span 
          class="count" 
          zdsTolltipName
          [ngClass]="this.themeService.changeTheme ? 'ligth_container-item-text' : 'dark_container-item-text'">
            В наличие: {{item.count}} шт.
        </span>
    </div>
  </div>
</div>
<pagination-controls style="position: fixed; bottom: 10px; left: 40%"
  (pageChange)="p=$event" 
  previousLabel=""
  nextLabel=""
  maxSize="4"
  autoHide="true"
>
</pagination-controls>