<header fxLayout="row">
    <div 
        zdsPagination
        class="nav-btn" 
        [class.open]="this.isSidebarOpen"
        (click)="sidebarOpen()"
        >
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="header_title">Интернет магазин</div>
    <div class="header_right-content">
        <span [ngClass]="onAddDataUser()">{{this.profileService.user_name}} {{this.profileService.user_surname}}</span>
        <div class="modal-info" (click)="openProfileModal()"></div>
    </div>
</header>
<section zds-resizeWindow fxLayout="row">
    <mat-spinner
        *ngIf="!this.isLoaded"
        class="spinner"
        diameter=50
    >
    </mat-spinner>
    <zds-sidebar
        [@changeSizeSidebar]="currentState"  
        class="sidebar"      
        [class.open]="this.isSidebarOpen"
        (selectedCategory)="changeCategoryItems($event)"
    >
    </zds-sidebar>
    <zds-item-container 
        fxFlex="100"
        [items]="items" 
        (isAdd)="isAddedProducts($event)" 
        (editItem)="editProduct($event)"
        (onPhotoUrl)="newPhotoUrl($event)"
    >
    </zds-item-container>
    <zds-edit-item 
        [item]="editItem" 
        [isAddedProduct]="isAddedProduct" 
        (onItemAdd)="newItemAdded($event)"
        (onItemEdit)="itemWasEdited($event)"
    >
    </zds-edit-item>
</section>
<zds-modal 
    [modalTitle]="'Профиль пользователя'"
    *ngIf="this.sharedService.openProfile"
>
</zds-modal>
<div 
    *ngIf="this.sharedService.openProfile"
    class="overlay"
    (click)="closePopup()"
    (body:keydown.esc)="closePopup()"
></div>